@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?twfbip');
	src:url('fonts/icomoon.eot?#iefixtwfbip') format('embedded-opentype'),
		url('fonts/icomoon.woff?twfbip') format('woff'),
		url('fonts/icomoon.ttf?twfbip') format('truetype'),
		url('fonts/icomoon.svg?twfbip#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-th-menu:before {
	content: "\e600";
}
.icon-menu:before {
	content: "\e120";
}
.icon-facebook2:before {
	content: "\ea8d";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-feed2:before {
	content: "\ea94";
}
.icon-linkedin2:before {
	content: "\eac9";
}
.icon-pinterest:before {
	content: "\ead0";
}
