@import "_normalize", "bourbon", "neat", "_vars", "_riona-sans";

// 1: General layout

body {
  font-family: $body-stack;
}

header {
	background-color: $brand-colour-light;
	margin: none;
	padding: 10px 30px;

	@include shadow;
	@include flexbox;
	@media screen and (max-device-width: 900px) {
		padding: 5px 20px;
	}
}

// Neat grid
.neat-grid {
	@include outer-container;
	padding: 0px 5px;
}


// 2: Typography
h1.page-title {
	font-family: "RionaSans-Thin";
	color: $white;
}

p {
  font-family: $body-stack;
}

a {
	color: $brand-colour-light;
	text-decoration: none !important;

	transition: 0.2s ease-in-out; 

	&:hover {
		color: $brand-colour-dark;
		text-decoration: underline;
	}
}

button, a.button {
	background-color: $brand-colour-dark;
	border-radius: 3px;
	color: $white;
	padding: 15px;
	transition: 0.2s;
	transform: matrix(1, 0, 0, 1, 0, -1);
	z-index: 9;

	@include flexbox;
	@include shadow;


	&:hover {
		@include dark-shadow;
	}
}


h1, h2, h3, h4, h5, h6 {
	font-family: $h-stack;
	font-weight: 100;
	color: $grey;
}


// 3: Navigation
@import "_nav";

// 4: Layouts

article {
	@include span-columns(12);
	margin-top: 50px;
}

//		Frontapge

//	#er

	article.er {
		background-color: $brand-colour-dark;
		min-height: -device-width;
		@include flexbox;

		& > h1.master, p {
			color: $white;
		}
	}

//	#oss
article.oss {
	@include flexbox;

	& > section {
		@include span-columns(6);

		@include media($mobile) {
			@include span-columns(12);
		}

		& > p {
			@include span-columns(6);
			@include media($mobile) {
				@include span-columns(12);
			}
		}
	}
}


.hode-container, .om-tekst-container {
	//@include flexbox;
	@include span-columns(12);
	@include media($mobile) {
		@include span-columns(12);
	}
}

.hode-container {
	@include span-columns(6);
	@include shift(1);

	& > img {
		max-height: 350px;
	}
}

.om-tekst-container > h2 {
	font-family: "Rionasans-light", $body-stack;
	font-variant: small-caps;
}

//	Portefolio

article#work {
	background-color: $brand-colour-dark;
}

.fp-square {
	padding: 10px;

	@include span-columns(4);
	@include media($mobile) {
		@include span-columns(12);
		//@include shift(1);
	}
}

//@import "_image-overlay";