/* figure {
	//background: url(http://ianfarb.com/wp-content/uploads/2013/10/nicholas-hodag.jpg);
	background-size: cover;
	border-radius: 0px;
	overflow: hidden;
	@include flexbox;
}

figcaption {
	background:rgba(0,0,0,.45);
	text-align: center;
	padding: 45px 0 66px 0;
	opacity: 0;
	transition: opacity 0.25s ease-in-out;

	& > h3 {
		font-family: "RionaSans-Thin";
		text-transform: uppercase;
		color: $white;
	} 
}

figure:hover figcaption {
	opacity: 1;
}

figure#galla-2014 {
		background: url("/assets/media/portefolio/_sq_galla-invite.jpg");
	} */

//--------------//
//		Codrops		//
//--------------//

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 0%;
	max-height: 100%;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 5px;
	height: 20%;
	background: $blue;
	color: $white;
	transition: transform 0.20s;
	transform: translate3d(0,100%,0);
	box-shadow: 0px -4px -8px 0px rgba(0,0,0,0.4)
}

figure.effect-zoe h2 {
	color: $white;
	font-family: "RionaSans-Thin", "Helvetica thin";
	font-size: 20px;
	text-transform: uppercase;
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	transition: transform 0.25s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2{
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	transition-delay: 0.035s;
}
