.menu-button {
	background-color: $brand-colour-light;
	border-radius: 50%;
	bottom: 30%;
	color: $white;
	margin-left: 2%;
	position: fixed;
	transition: 0.2s;
	transform: matrix(1, 0, 0, 1, 0, -1);
	z-index: 9;

	//W&h MUST be equal
	width: 55px;
	height: 55px;

	@include flexbox;
	@include shadow;


	&:hover {
		@include dark-shadow;
	}
}

nav.hidden {
	display: none;
	visibility: collapse;
	margin-left: -100%;
}