$brand-colour-light: #74BDB8;
$brand-colour-dark: #263D3C;
$blue: rgb(18,74,74);
$white: rgb(240,240,240);
$grey: #333333;
$light-grey: lighten($grey, 50%);
$dark-grey: darken($grey, 50%);

$body-stack: "Riona Sans Regular", "Merriweather", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$h-stack: "Riona Sans thin", "Open Sans";

@mixin poof{
	color: transparent;
	display: none;
	visibiliy: hidden;
	z-index: -999;
}

@mixin shadow{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.258824);
}

@mixin dark-shadow{
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
 }

@mixin flexbox($align: center, $justify: center, $flow: column) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-flow: $flow;
}

@mixin cover-image($url: "assets/media/logo-fullfarge.svg") {
	background: url($url) no-repeat center center fixed;
	background-size: cover;

	@include media($smaller-screen) {
		background-attachment: scroll;
	}
	@include media($small-screen) {
		background-attachment: scroll;
	}
	@include media($tiny-screen) {
		background-attachment: scroll;
	}
}

// Neat
$large-screen: new-breakpoint(min-width 900px);
$smaller-screen: new-breakpoint(min-width 601), new-breakpoint(max-width 899px);
$small-screen: new-breakpoint(min-width 351px), new-breakpoint(max-width 600px);
$tiny-screen: new-breakpoint(max-width 350px);
