@import "_normalize", "bourbon", "neat", "_vars", "_riona-sans";

/*
 		1: General layout
*/

body {
	//background-color: $white;
	font-family: $body-stack;
	-webkit-font-smoothing: subpixel-antialiased;

}

article {
	margin: 25px 0px;
	height: auto;
}

.neat-start {
	@include outer-container;
	@include flexbox;
	max-width: 90%;
	
}

/*
		Typography
*/

h1, h2, h3, h4, h5, h6 {
	color: $brand-colour-dark;
	font-family: $h-stack;
	line-height: 120%;
	text-align: center;
}

h2 {
	font-size: 30px;
}

h3 {
	text-transform: uppercase;
	font-size: 23px;
}

b, strong	{
	font-family: "Riona Sans bold", "Open sans", helvetica;
	font-weight: 500;

	& > i, em {
		font-family: "Riona Sans bold it", "Open Sans", helvetica;
	}
}

a {
	border-bottom: 1px solid $brand-colour-light;
	color: $brand-colour-dark;
	text-decoration: none;
	transition: 0.1s ease-in-out;

	&:hover {
		border-bottom: 1px solid $brand-colour-light;
		color: $dark-grey;
	}
}

button, .button, button:active .button:active {
	background-color: $brand-colour-light;
	border: none;
	border-radius: 3px;
	color: /*$brand-colour-dark */ $white;
	font-family: "Riona Sans extralight";
	font-size: 17px;
	padding: 10px;
	padding-bottom: 7px;
	text-align: center;
	text-transform: uppercase;

	@include transition;
	//@include shadow;

	&:hover {
		color: $white;
		border: inherit;
	}

	& > i.fa {
		color: $brand-colour-light;
		transition: 0.2s ease;
		padding-right: -10px;
	}

	&:hover {
		background-color: $brand-colour-dark;

		& > i.fa {
			color: $white;
			padding-right: 10px;
		}
	}

	@include media($small-screen) {
		i.fa {
			@include poof();
		}
	}
}

// Fancy adaptive shit

.smaller-screen-only{
	visibility: none;
	display: none;
	@include media($small-screen) {
		visibility: visible;
		display: block;
	}
}

.large-screen-only{
	visibility: none;
	display: none;
	@include media($large-screen) {
		visibility: visible;
		display: block;
	}
}

/*
		Layout
*/

.flexbox {
	@include flexbox;
}

/*
		Custom layout — Frontpage
*/

@keyframes logo-hint {
	0% {
		margin-top: 60;
		margin-bottom: 0px;
	}
	
	50% {
		margin-top: 120px;
		margin-bottom: 0px;
	}
	
	100% {
			margin-top: 60;
			margin-bottom: 00px;
	}
}

header {
	background-color: $brand-colour-light;
	color: $white;
	font-family: "Riona Sans Thin", $h-stack;
	min-height: 50px;
	width: 100%;
	padding: 10px;

	@include flexbox;
	@include shadow;

	& > h1 {
		font-size: 47px;
		transition: 0.5s ease;

		@include media($small-screen) {
			font-size: 32px;
		}
		
		@include media($smaller-screen) {
			font-size: 29px;
		}

	}
}

header.hello {
	min-height: 500px;
}


@include media($smaller-screen) {

nav.smaller-screen-only {
	@include flexbox;

	& > .actual-nav {
		display: flex;
	}

	& > .hidden {
		@include poof();
	}

	& > a.button {
		width: 100%;
		max-width: 900px;
	}

	& > a.menu-button > i.fa {
		color: $white;
	}
}

@include media($large-screen) {
	nav.smaller-screen-only {
		@include poof();

	}
}

nav.big-screen-only, nav.big-screen-only > a.button {
	@include poof();
}

}

img.logo {
	max-height: 200px;

	@include media($large-screen) {
		animation-name: logo-hint;
		animation-duration: 0.6s;
		animation-delay: 10s;
		animation-iteration-count: 2;		
	}
}

article.tjenester {

	& > section {
		padding: 15%;
		margin: 10px 0px;
		position: relative;
		
		@include flexbox();

		& > p, h2, h3 {
			color: $white;
		}

		& > a.button {
			margin-top: 50px;
		}

		@include media($smaller-screen) {
			//padding: 10%;
		}

		@include media($small-screen) {
			//padding: 30px 10px;
		}
	}

	& > section#grafisk {
			@include cover-image($url: "/assets/media/portefolio/650px-bokmerke.jpg");

			@include media($large-screen) {
				@include cover-image($url: "/assets/media/portefolio/1000px-bokmerke.jpg");
		}

		& > p, a, h2, h3 {
			margin-right: 55%;
		}

		@include media($tiny-screen) {
			& > p, a, h2, h3 {
				margin-right: 10%;
			}
		}

	}

	& > section#foto {

		@include cover-image($url: "/assets/media/portefolio/650px-peder.jpg");

		@include media($large-screen) {
			@include cover-image($url: "/assets/media/portefolio/1200px-peder.jpg");
		}

		& > p, h2, h3 {
			color: $dark-grey;
		}

		& > p, a, h2, h3 {
			margin-right: 40%;
		}

		@include media($tiny-screen) {
			& > p, a, h2, h3 {
				margin-right: 10%;
			}
		}
}
	& > section#film {
		/*
				Note to self: Bruk Vimeo cover (uten tekst) fra The vicory her. Evt. gif av badekarscenen.
		
		@include media($small-screen) { */
			@include cover-image($url: "/assets/media/720px-farge-fade.gif");
		/*}
		@include media($large-screen) {
			@include cover-image($url: "/assets/media/portefolio/720px-farge-fade.jpg");
		}	*/
	}
}

section.image > img {
	max-width: 100%;
}

article.oss {

	& > .person {
		padding: 20px 0px;

		@include span-columns(6);

		@include media($smaller-screen) {
			@include span-columns(12);
		}
		
		@include media($smaller-screen) {
			@include span-columns(12);
		}

		@include media($tiny-screen) {
			@include span-columns(12);
		}
	}
}

div.ansikt {
	@include flexbox;

	& > img {
		max-height: 350px;

		@include media($small-screen) {
			max-height: 270px;
		}
	}
}

a.email-button, a.call-button {

	@include flexbox;
	@include span-columns(6);
}

a.email-button {
	@include media($large-screen) {
		@include span-columns(6);
		@include shift(3);
	}

	@include media($smaller-screen) {
		@include span-columns(6);
	}
}

a.call-button {
	@include media($large-screen) {
		@include poof;
	}

	@include media($smaller-screen) {
		@include span-columns(6);
	}
}

.bkg-dark-bulue {
	background-color: $brand-colour-dark
}

article.arbeid {
	//background-color: $brand-colour-dark;

	& > section.image {
		margin-bottom: 25px;

		@include span-columns(4);
		//@include flexbox;

		@include media($small-screen) {
			@include span-columns(12);
		}

		& > img {
			max-width: 100%;
			margin-bottom: -15px;
		}
	}

	& > .no-grid {
		@include span-columns(12);
	}
}

